:root {
  --primary-dark-color: #222831;
  --primary-light-color: #EEEEEE;
  --secondary-dark-color: #393E46;
  --board-color: #916BBF;
  --player-color: #12232e;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-wrap: break-word;
  margin-bottom: 3em;
  background-color: var(--primary-light-color);
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  text-align: center;
  padding: 0.5em;
}

h1 {
  font-size: 2.5rem;
  border-bottom: 1px solid var(--secondary-dark-color);
}

/* Main */

.card {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

.board {
  background-color: var(--board-color);
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  width: 100%;
  padding: 1em 0 1em 0;
  margin-bottom: 0;
  justify-content: center;
}

.field {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 3.5rem;
  background-color: var(--board-color);
  color: var(--player-color);
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--secondary-dark-color);
  border-right: 2px solid var(--secondary-dark-color);
  outline: none;
}

.field.no-r {
  border-right: none;
}

.field.no-b{
  border-bottom: none;
}

.field p {
  margin: 0px;
}

.field:hover {
  cursor: pointer;
}

.btn {
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  -webkit-box-shadow: -1px 7px 22px -6px lightgrey;
  box-shadow: -1px 7px 22px -6px lightgrey;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-p {
  width: 15em;
  height: 3em;
  margin: 1em;
}

.select {
  align-self: flex-start;
  margin: 1em 0 1em 1em;
}

.selected {
  color: var(--primary-dark-color);
  font-weight: 700;
  border: 2px solid var(--secondary-dark-color);
  -webkit-shadow-box: -1px 7px 22px -6px #888;
  box-shadow: -1px 7px 22px -6px #888;
}

.not-selected {
  box-shadow: none;
  font-weight: 600;
  color: #888;
  border-width: 1.5px;
}

.player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  margin: 0;
}

.rst {
  width: 100%;
  margin: auto;
}
.restart {
  width: 100%;
  height: 3em;
  border-radius: 0% 0% 10px 10px / 10px 10px 10px 10px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

select {
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--primary-dark-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-dark-color)
}

select:hover {
  cursor: pointer;
}

.win p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  z-index: 1;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.winner {
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%,0);
  font-size: 2rem;
}

.sign {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  font-size: 6rem;
  margin: 0;
}

.x-text {}

.o-text {}

.hide {
  display: none ;
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--secondary-dark-color)
}